.imageboxmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:100% ;
    height: 96vh;
    background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.03) 0px, rgba(0,0,0,0.03) 2px,transparent 2px, transparent 4px),linear-gradient(45deg, rgb(18, 105, 233),rgb(166, 255, 155));
}
.cimage{
    max-height: fit-content;
    max-width: 100%;
}
.carousel-indicators button{
    visibility: hidden;
}
/* .carousel-control-prev,.carousel-control-next{
    visibility: hidden;   
} */